* {
  box-sizing: border-box;
}
html, body {

  background-size: cover;
  font-size: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.cursor_pointer {
  cursor: pointer;
}
